:root {
  --color-green: #005740;
  --color-yellow: #f4a900;
  --color-black: #0d0204;
  --color-gray: #7C7C7C;
  --color-green-light: #a8d6ae;
  --color-yellow-light: #f8f4e6;
  --color-gray-light: #D9D9D9;

  --fw-normal: 400;
  --fw-bold: 600;

  --ff-text: "Flama", sans-serif;
  --ff-title: "Flama Semicondensed", sans-serif;

  --side-spacing-sm: 20px;
  --side-spacing-md: 35px;
  --side-spacing-lg: 50px;
  --section-spacing: 80px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-text);
  font-size: 16px;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-title);
}

@import "./includes/style";
@import "./components/style";
@import "./sections/style";
