.how-works {
  background-color: var(--color-yellow-light);

  .row {
    flex-wrap: wrap;
    gap: var(--side-spacing-lg);
    margin: var(--section-spacing) 0;

    .col {
      width: 100%;
    }
  }

  .hw {
    &-title {
      color: var(--color-green);
      font-size: 40px;
      margin: 0 0 0.5em 0;
    }

    &-subhead {
      font-size: 22px;
      line-height: 1.5em;
      margin: 0;
    }

    &-col {
      &-icon {
        background-color: var(--color-green-light);
        border-radius: 50%;
        display: grid;
        height: 108px;
        margin: 0 auto;
        place-content: center;
        width: 108px;

        img {
          @extend .transition;
        }

        &:hover {
          img {
            transform: scale(1.1);
          }
        }
      }

      &-title {
        color: var(--color-green);
        font-family: var(--ff-title);
        font-size: 22px;
        margin-bottom: 0.5em;
      }

      &-text {
        font-size: 18px;
        margin: 0;
      }
    }
  }

  @media (min-width: $break-tablet) {
    .row {
      margin: var(--section-spacing) 0;

      .col {
        width: 45%;
      }
    }
  }

  @media (min-width: $break-desktop) {
    .row {
      flex-wrap: nowrap;
      gap: var(--side-spacing-lg);
      margin: var(--section-spacing) var(--side-spacing-lg);
    }
  }

  @media (min-width: $break-large) {
    .row {
      margin: var(--section-spacing);
    }
  }
}
