.reviews {
  &-title {
    font-size: 25px;
    margin: 1em auto;
  }

  &-text,
  &-name {
    font-size: 18px;
    margin: 0 0 2rem 0;
  }

  &-name {
    font-family: var(--ff-title);
    margin-bottom: 0;
  }
}