section {
  padding: var(--section-spacing) 0;
  opacity: 0;

  &.fade-in {
    opacity: 1;
  }
}

@import "./intro";
@import "./goals";
@import "./how-works";
@import "./reviews";
@import "./location";
