@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

.container {
  display: block;
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 var(--side-spacing-sm);
  width: calc(100% - (var(--side-spacing-sm) * 2));

  @media (min-width: $break-tablet) {
    padding: 0 var(--side-spacing-md);
    width: calc(100% - (var(--side-spacing-md) * 2));
  }

  @media (min-width: $break-desktop) {
    padding: 0 var(--side-spacing-lg);
    width: calc(100% - (var(--side-spacing-lg) * 2));
  }
}

.row {
  display: flex;

  &.items-center {
    align-items: center;
  }

  &.space-between {
    justify-content: space-between;
  }

  &.space-end {
    justify-content: flex-end;
  }

  &.justify-center {
    justify-content: center;
  }
}

.bg-dark {
  @include bg(--color-black, white);
}

.bg-green {
  @include bg(--color-green, white);
}

.uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.list-unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}
