@font-face {
  font-family: "Flama";
  src: url("/fonts/flama/flama.eot");
  src: url("/fonts/flama/flama.eot?#iefix") format("embedded-opentype"),
    url("/fonts/flama/flama.woff") format("woff"),
    url("/fonts/flama/flama.woff2") format("woff2"),
    url("/fonts/flama/flama.ttf") format("truetype"),
    url("/fonts/flama/flama.svg#Flama") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: "Flama Semicondensed";
  src: url("/fonts/flama-sc/flama-sc.eot");
  src: url("/fonts/flama-sc/flama-sc.eot?#iefix")format("embedded-opentype"),
      url("/fonts/flama-sc/flama-sc.woff")format("woff"),
      url("/fonts/flama-sc/flama-sc.woff2")format("woff2"),
      url("/fonts/flama-sc/flama-sc.ttf")format("truetype"),
      url("/fonts/flama-sc/flama-sc.svg#Flama Semicondensed")format("svg");
  font-weight:normal;
  font-style:normal;
  font-display:swap;
}
