.header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9;

  &-bar {
    background-color: white;
    text-align: center;
    padding: 0.8rem 0;
    position: relative;
    max-height: 57px;
    transition: all 0.2s linear;

    &-close {
      cursor: pointer;
      display: block;
      font-style: normal;
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
    }

    &-text {
      font-size: 14.3px;
      line-height: 1.1em;
      margin: 0;
      padding-right: 1em;
    }

    &.closed {
      opacity: 0;
      max-height: 0;
      padding: 0;
    }

    @media (min-width: $break-tablet) {
      &-text {
        padding-right: 0;
      }
    }
  }

  &-content {
    padding: 1.3rem 0;
  }

  &-logo {
    display: block;
    line-height: 0;

    img {
      height: 32px;
      width: auto;
    }
  }

  &-nav {
    order: 2;

    .menu {
      background-color: black;
      opacity: 0;
      gap: 2rem;
      left: 0;
      list-style: none;
      margin: 0;
      padding: 0;
      position: fixed;
      right: 0;
      top: -500px;
      z-index: -1;
      @extend .transition;

      &-close {
        display: none;
        color: white;
        font-style: normal;
        font-size: 2.5rem;
        position: absolute;
        top: .5rem;
        right: 1rem;
        z-index: 11;
      }

      .order-cta {
        display: none;
      }

      &-link {
        color: white;
        text-decoration: none;
        @extend .transition;

        &:hover {
          color: var(--color-yellow);
        }
      }

      &-burger {
        height: fit-content;
        width: 30px;

        span {
          background-color: white;
          display: block;
          height: 3px;
          width: 100%;

          &:not(:last-child) {
            margin-bottom: .25rem;
          }
        }
      }
    }

    &.opened {
      .menu {
        bottom: 0;
        padding: 2rem 1rem 1rem;
        opacity: 1;
        top: 0;
        z-index: 10;

        &-item {
          border-bottom: 1px solid var(--color-gray);
          font-size: 20px;
          margin-bottom: 1rem;
          padding-bottom: 1rem;
          width: 100%;

          &:first-child {
            padding-top: 1rem;
          }
        }

        &-close {
          display: block;
        }
      }

      .order-cta {
        display: block;
        margin-top: 2rem;
      }
    }

    @media (min-width: $break-tablet) {
      order: 1;

      .menu {
        bottom: unset;
        display: flex;
        left: unset;
        position: relative;
        top: unset;
        opacity: 1;
        right: unset;
        z-index: 0;

        &-burger {
          display: none;
        }
      }
    }
  }

  .col {
    &-nav {
      align-items: center;
      display: flex;
      gap: 2rem;
    }
  }

  &-cta {
    background-color: white;
    border-radius: 6.4px;
    color: var(--color-black);
    font-size: 14.3px;
    padding: 1.25rem 2rem;
    text-decoration: none;
    order: 1;
    @extend .transition;

    &:hover {
      background-color: var(--color-yellow);
    }

    @media (min-width: $break-tablet) {
      order: 2;
    }
  }
}
