.slider {
  @extend .list-unstyled;
  min-height: 230px;
  overflow: hidden;
  width: 100%;

  .slide {
    opacity: 0;
    text-align: center;
    transition: all 0.2s ease-in-out;
    max-height: 0;

    &.current {
      opacity: 1;
      max-height: 230px
    }

    .stars {
      @extend .list-unstyled;
      align-items: center;
      display: flex;
      gap: 10px;
      justify-content: center;
    }
  }

  &-dots {
    @extend .list-unstyled;
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 2rem;

    .slide-dot {
      background-color: var(--color-gray-light);
      border-radius: 50%;
      cursor: pointer;
      height: 10px;
      transition: all 0.2s ease-in-out;
      width: 10px;

      &.active {
        background-color: var(--color-gray);
      }
    }
  }

  @media (min-width: $break-tablet) {
    margin: 0 auto;
    width: 640px;
  }
}